<h2>Sign Up</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label
    >Username:
    <input formControlName="username" />
  </label>
  <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
    Alphanumeric username required
  </div>

  <label
    >Email:
    <input formControlName="email" type="email" />
  </label>
  <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
    Valid email required
  </div>

  <label
    >Password:
    <input formControlName="password" type="password" />
  </label>
  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
    Min 8 characters
  </div>

  <button type="submit">Register</button>
</form>

<p>Already have an account? <a routerLink="/sign-in">Sign In</a></p>
