<!-- PUBLIC NAV BAR -->
<mat-toolbar *ngIf="!isLoggedIn">
  <!-- LEFT -->
  <div>
    <nav-item-btn label="Home" [to]="URLS.PUBLIC.HOME" />
    <nav-item-btn label="Buy" [to]="URLS.PUBLIC.BUY.PRODUCT_ALL" />
  </div>

  <!-- RIGHT -->
  <div>
    <nav-item-btn label="Sign Up" [to]="URLS.PUBLIC.SIGN_UP" />
    <nav-item-btn label="Sign In" [to]="URLS.PUBLIC.SIGN_IN" />
  </div>
</mat-toolbar>

<!-- USER NAV BAR -->
<mat-toolbar *ngIf="isLoggedIn">
  <!-- LEFT -->
  <div>
    <nav-item-btn label="Home" [to]="URLS.PUBLIC.HOME" />

    <!-- Buy -->
    <nav-item-btn
      label="Buy"
      [to]="URLS.PUBLIC.BUY.PRODUCT_ALL"
      [exactMatch]="false"
      [matMenuTriggerFor]="buyMenu"
    />
    <mat-menu #buyMenu="matMenu">
      <nav-item-btn label="Shop More" [to]="URLS.PUBLIC.BUY.PRODUCT_ALL" />
      <nav-item-btn
        label="My Orders"
        [to]="URLS.USER(userUsername).BUYER_ORDERS.ORDERS_ALL"
      />
    </mat-menu>

    <!-- Sell -->
    <nav-item-btn
      label="Sell"
      [to]="URLS.USER(userUsername).SELLER.DEFAULT"
      [exactMatch]="false"
      [matMenuTriggerFor]="sellMenu"
    />
    <mat-menu #sellMenu="matMenu">
      <nav-item-btn
        label="Overall Manager"
        [to]="URLS.USER(userUsername).SELLER.DEFAULT"
      />
      <nav-item-btn
        label="Manage Products"
        [to]="URLS.USER(userUsername).SELLER.PRODUCT_ALL"
      />
      <nav-item-btn
        label="Manage Orders"
        [to]="URLS.USER(userUsername).SELLER.ORDER_ALL"
      />
    </mat-menu>
  </div>

  <!-- RIGHT -->
  <div>
    <nav-item-btn label="Cart" [to]="URLS.USER(userUsername).BUYER_CART.CART" />

    <!-- Profile -->
    <nav-item-btn
      label="My Profile"
      [to]="URLS.PUBLIC.USER_SHOP(userUsername)"
      [matMenuTriggerFor]="profileMenu"
    />
    <mat-menu #profileMenu="matMenu">
      <nav-item-btn
        label="View My Page"
        [to]="URLS.PUBLIC.USER_SHOP(userUsername)"
      />
      <nav-item-btn
        label="My Details"
        [to]="URLS.USER(userUsername).ABOUT.DEFAULT"
      />
      <nav-item-btn
        label="My Groups"
        [to]="URLS.USER(userUsername).GROUP.DEFAULT"
      />
    </mat-menu>

    <button mat-button (click)="signOut()">Sign Out</button>
  </div>
  <!-- <p>{{ userUsername1 }}</p> -->
</mat-toolbar>
<hr />
