<h2>Sign In</h2>
<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <form-field-text
    label="Username or Email"
    [required]="true"
    [control]="formControlFromName('usernameOrEmail')"
  />
  <!-- patternErrorMessage="Username can only be alphanumeric, '-', or '_'" -->

  <form-field-text
    label="Password"
    type="password"
    [required]="true"
    [control]="formControlFromName('password')"
    autocomplete="password"
  />

  <button mat-button class="submit-button" type="submit">Register</button>
</form>

<p>Don't have an account? <a [routerLink]="URLS.PUBLIC.SIGN_UP">Sign Up</a></p>
