<!-- Loading State -->
<ng-template #loadingTpl>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="cart-page-container" *ngIf="!isLoading; else loadingTpl">
  <h2 *ngIf="cart && cart.items.length > 0">
    {{ cart.cart_owner_username }}'s Cart
  </h2>
  <h2 *ngIf="!cart || cart.items.length === 0">Your Cart is Empty</h2>
  <!-- 
  <p *ngIf="cart && cart.items.length > 0">
    Last updated on {{ updated_at }}<br />
    <small>Your cart will be emptied after 15 days from last edit.</small>
  </p>

  <p *ngIf="!cart || cart.items.length === 0">
    So weird... never buy things before ah. Go shop lah.
  </p>

  <button mat-raised-button color="primary" (click)="navigateToShop()">
    To Capitalism
  </button> -->

  <!-- Cart Table -->
  <!-- <div *ngIf="cart?.items?.length > 0" class="cart-table-container">
    <table
      mat-table
      [dataSource]="cart.items"
      class="mat-elevation-z8 full-width"
    > -->
  <!-- Photo -->
  <!-- <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>PHOTO</th>
        <td mat-cell *matCellDef="let item">
          <img
            [src]="item.display_photo"
            [alt]="item.design_name"
            class="product-photo"
            (error)="item.display_photo = 'assets/default.jpg'"
          />
          <div>Sold by: {{ item.product_owner_username }}</div>
        </td>
      </ng-container> -->

  <!-- Product -->
  <!-- <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>PRODUCT</th>
        <td mat-cell *matCellDef="let item">
          <div>{{ item.design_name }}</div>
          <small>{{ item.product_name }}</small>
        </td>
      </ng-container> -->

  <!-- category -->
  <!-- <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>CATEGORY</th>
        <td mat-cell *matCellDef="let item">{{ item.category }}</td>
      </ng-container> -->

  <!-- quantity -->
  <!-- <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>QTY</th>
        <td mat-cell *matCellDef="let item">
          {{ item.qty_cart }}
          <button
            mat-icon-button
            color="primary"
            aria-label="Add 1"
            (click)="
              onQuantityChange(
                item.product_variant_id.toString(),
                item.qty_cart + 1
              )
            "
            matTooltip="Add 1"
            [disabled]="item.qty_cart >= item.qty_available"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Remove 1"
            (click)="
              onQuantityChange(
                item.product_variant_id.toString(),
                item.qty_cart - 1
              )
            "
            [disabled]="item.qty_cart <= 1"
            matTooltip="Remove 1"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </ng-container> -->

  <!-- Price Each -->
  <!-- <ng-container matColumnDef="priceEach">
        <th mat-header-cell *matHeaderCellDef>PRICE (each)</th>
        <td mat-cell *matCellDef="let item">${{ item.price }}</td>
      </ng-container> -->

  <!-- Total per Item -->
  <!-- <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>TOTAL</th>
        <td mat-cell *matCellDef="let item">${{ item.item_sub_total_cost }}</td>
      </ng-container> -->

  <!-- Actions -->
  <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>DELETE</th>
        <td mat-cell *matCellDef="let item">
          <button
            mat-icon-button
            color="warn"
            (click)="onQuantityChange(item.product_variant_id.toString(), 0)"
            matTooltip="Remove from Cart"
            aria-label="Remove from Cart"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

  <!-- Render Rows -->
  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->

  <!-- Cart Total Row -->
  <!-- <tr class="total-row">
        <td colspan="5" style="text-align: right">
          <strong>Total:</strong>
        </td>
        <td>
          <strong>\${{ cart?.total_cost }}</strong>
        </td>
        <td></td>
      </tr>
    </table> -->

  <!-- additional actions -->
  <!-- <div class="cart-actions">
      <button mat-stroked-button color="primary" (click)="navigateToShop()">
        Indulge in More Capitalism
      </button>
      <button mat-raised-button color="accent" (click)="navigateToCheckout()">
        Ready to Give My Money
      </button>
      <button mat-button color="warn" (click)="clearCart()">
        Clear Cart & Regret
      </button> -->
  <!-- </div>
  </div> -->
</div>
