<!-- <pre *ngIf="cart">{{ cart | json }}</pre> -->
<!-- Loading State -->
<div *ngIf="isLoading" class="spinner-container">
  <mat-progress-spinner mode="indeterminate" />
</div>

<!-- Cart if Empty -->
<main
  class="page-container"
  *ngIf="!isLoading && (!cart || cart.items.length === 0)"
>
  <section class="section-info">
    <h2 class="title-text">Your Cart is Empty</h2>
    <div class="description-bar">
      <p class="description-text">It's a bit empty here</p>
    </div>
    <button
      mat-stroked-button
      class="description-btns"
      color="primary"
      (click)="navigateToShop()"
    >
      Start Shopping
    </button>
  </section>
  <aside class="aside-img">
    <img src="src/assets/JMerch_logo.png" alt="Logo" class="img-logo" />
  </aside>
</main>

<!-- NON-EMPTY CART VIEW -->
<main
  class="page-container"
  *ngIf="!isLoading && cart && cart.items.length > 0"
>
  <div class="title-bar">
    <h2 class="title-text">{{ cart.cart_owner_username }}'s Cart</h2>
  </div>

  <div class="description-bar">
    <p class="description-text">
      Last updated on {{ updated_at }}<br />
      <small>Your cart will be emptied after 15 days from last edit.</small>
    </p>
  </div>

  <!-- CART TABLE -->
  <div class="cart-table-container">
    <table
      mat-table
      [dataSource]="cart.items"
      class="mat-elevation-z8 full-width"
    >
      <!-- Photo -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>PHOTO</th>
        <td mat-cell *matCellDef="let item">
          <img
            [src]="item.display_photo"
            [alt]="item.design_name"
            class="product-photo"
            (error)="item.display_photo = 'assets/default.jpg'"
          />
          <div>Sold by: {{ item.product_owner_username }}</div>
        </td>
      </ng-container>

      <!-- Product -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>PRODUCT</th>
        <td mat-cell *matCellDef="let item">
          <div>{{ item.design_name }}</div>
          <small>{{ item.product_name }}</small>
        </td>
      </ng-container>

      <!-- category -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>CATEGORY</th>
        <td mat-cell *matCellDef="let item">{{ item.category }}</td>
      </ng-container>

      <!-- quantity -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>QTY</th>
        <td mat-cell *matCellDef="let item">
          {{ item.qty_cart }}
          <button
            color="primary"
            aria-label="Add"
            (click)="
              onQuantityChange(
                item.product_variant_id.toString(),
                item.qty_cart + 1
              )
            "
            [disabled]="item.qty_cart >= item.qty_available"
          >
            +
          </button>
          <button
            color="warn"
            aria-label="Remove"
            (click)="
              onQuantityChange(
                item.product_variant_id.toString(),
                item.qty_cart - 1
              )
            "
            [disabled]="item.qty_cart <= 1"
          >
            -
          </button>
        </td>
      </ng-container>

      <!-- price per item -->
      <ng-container matColumnDef="priceEach">
        <th mat-header-cell *matHeaderCellDef>PRICE (each)</th>
        <td mat-cell *matCellDef="let item">SGD{{ item.price }}</td>
      </ng-container>

      <!-- sub total cost -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>TOTAL</th>
        <td mat-cell *matCellDef="let item">
          SGD{{ item.item_sub_total_cost }}
        </td>
      </ng-container>

      <!-- delete items -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>DELETE</th>
        <td mat-cell *matCellDef="let item">
          <button
            color="warn"
            aria-label="Remove"
            (click)="onQuantityChange(item.product_variant_id.toString(), 0)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <!-- table rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Cart Total -->
      <tr class="total-row">
        <td colspan="5" style="text-align: right"><strong>Total:</strong></td>
        <td>
          <strong>SGD{{ cart.total_cost }}</strong>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</main>
