/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  padding: 2rem;
}

// navbar
mat-toolbar {
  display: flex;
  justify-content: space-between;

  button[mat-button] {
    padding: 0.2rem; /* override default padding */
    border-radius: 0.5rem;

    &.active {
      //  cause its not a child for routeLinkActive
      background-color: seagreen;
      font-weight: bold;
    }
  }
}

// Snack Bars
// TODO - fix this because doesnt work
mat-snack-bar-container {
  .snackbar-success {
    background-color: lightgreen;
    color: black;
  }

  .snackbar-error {
    background-color: lightcoral;
    color: black;
  }

  .snackbar-info {
    background-color: lightblue;
    color: black;
  }
}

// Forms

.submit-button {
  display: flex;
}

.input-errors {
  display: flex;
}

// nav {
//   display: flex;
//   justify-content: space-between;

//   .nav-first {
//     display: flex;
//     gap: 0.5rem;
//     align-items: center;

//     .active {
//       color: seagreen;
//     }

//     .nav-item {
//       padding: 0.2rem;
//       position: relative;

//       .nav-second {
//         display: none;
//         position: absolute;
//         padding: 0.5rem;
//         white-space: nowrap;
//         background-color: darkslategray;

//         top: 100%;
//         left: 50%; // start 50% from left of parent
//         transform: translateX(-50%); // then you move it 50% left of itself
//         z-index: 10;
//         border-radius: 0.3rem;
//       }

//       &:hover {
//         border-radius: 0.3rem;
//         background-color: darkslategray;
//       }

//       &:hover .nav-second {
//         display: flex;
//         gap: 0.5rem;
//       }
//     }
//   }
// }
