<main class="page-container">
  hi
  <!-- <section class="section-info">
    <h1 class="title-text">JMerch</h1>
    <p class="description-text">Personalise your eCommerce for your Team</p> -->
  <!-- <button
      mat-raised-button
      class="description-btns"
      color="primary"
      [routerLink]="URLS.PUBLIC.BUY.PRODUCT_ALL"
    >
      Start Shopping
    </button> -->
  <!-- [routerLink]="URLS.PUBLIC.SIGN_UP" -->
  <!-- <button class="description-btns" color="primary">Join Us</button>
  </section> -->
  <!-- <aside class="aside-img">
    <img src="/src/assets/images/JMerch_logo.png" alt="Logo" class="img-logo" />
  </aside> -->
</main>
